.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 5.5rem;
}

.normal {
  --color: #a6a877;
}

.grass {
  --color: #77c850;
}

.fire {
  --color: #ee7f30;
}

.water {
  --color: #678fee;
}

.electric {
  --color: #f7cf2e;
}

.ice {
  --color: #98d5d7;
}

.ground {
  --color: #dfbf69;
}

.flying {
  --color: #a98ff0;
}

.poison {
  --color: #a040a0;
}

.fighting {
  --color: #bf3029;
}

.psychic {
  --color: #f65687;
}

.dark {
  --color: #725847;
}

.rock {
  --color: #b8a137;
}

.bug {
  --color: #a8b720;
}

.ghost {
  --color: #6e5896;
}

.steel {
  --color: #b9b7cf;
}

.dragon {
  --color: #6f38f6;
}

.fairy {
  --color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to top right, var(--color) 0%, #000 100%);
  box-shadow: 5px -5px 15px #000, -1px 1px 3px var(--color);
  transition: transform 100ms ease-in-out;
}

.pokemon:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.pokemon .number {
  font-size: .625rem;
}

.pokemon .number,
.pokemonDialogCard .about .top .number {
  color: var(--color);
  text-align: right;
  font-weight: bolder;
  filter: brightness(1.5);
}

.pokemon .name {
  margin-bottom: .25rem;
  color: #fff;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  list-style: none;
}

.pokemon .detail .types .type {
  padding: .25rem .5rem;
  margin: .25rem 0;
  background-color: var(--color);
  border-radius: 1rem;
  filter: brightness(1.1);
  color: #fff;
  font-size: .625rem;
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

/* Pokemon Dialog Card */

.pokemonDialogCard {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 32ch;
  max-height: 90vh;
  border: .25em solid var(--color);
  border-radius: 1.25em;
  background: linear-gradient(to bottom left, var(--color) 0%, #eee 100%);
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  overflow-y: auto;
}

.pokemonDialogCard::-webkit-scrollbar {
  display: none;
}

.pokemonDialogCard::backdrop {
  background: rgba(0, 0, 0, 0.822);
}

.pokemonDialogCard .about,
.pokemonDialogCard .aboutTable,
.pokemonDialogCard .baseStats,
.pokemonDialogCard .baseStatsTable {
  width: 100%;
}

.pokemonDialogCard .about,
.pokemonDialogCard .baseStatsTable {
  padding: 1em;
}

.pokemonDialogCard .about {
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  background: linear-gradient(to top right, var(--color) 0%, #000 100%);
  color: #fff;
}

.pokemonDialogCard .about .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonDialogCard .about .top .closeDialogCard {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.5em;
}

.pokemonDialogCard .about img {
  height: 7rem;
  max-width: 100%;
}

.pokemonDialogCard .baseStatsTable .tableHeader,
.pokemonDialogCard .aboutTable .tableHeader {
  text-align: left;
  font-size: 1.25em;
}

.pokemonDialogCard .baseStatsTable .tableHeader {
  background: linear-gradient(to right, #000 0%, var(--color) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pokemonDialogCard .baseStatsTable .rowHeader,
.pokemonDialogCard .aboutTable .rowHeader {
  width: 13ch;
  text-align: left;
  font-size: .825rem;
}

.pokemonDialogCard .baseStatsTable .value {
  width: 4ch;
  text-align: center;
  font-size: .825rem;
}

.pokemonDialogCard .baseStatsTable .display {
  width: 15ch;
  text-align: right;
  
}

.pokemonDialogCard .aboutTable .display {
  width: 19ch;
  text-align: right;
} 

.pokemonDialogCard .baseStatsTable .display meter {
  width: 100%;
}

/* End Pokemon Dialog Card */

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: .25rem .5rem;
  margin: .25rem 0;
  background-color: #ef5350;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px -2px 6px #000;
  color: #fff;
  font-size: .625rem;
  transition: transform 100ms ease-in-out;
}

.pagination button:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}